<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717837204692-qatr3pc2e04d2d2ufdm4chp0ij8m8h0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717837204692-qatr3pc2e04d2d2ufdm4chp0ij8m8h0r</string>
	<key>API_KEY</key>
	<string>AIzaSyD4jnTdArfQLgSuCsaTNFigJBi-RmLfbqc</string>
	<key>GCM_SENDER_ID</key>
	<string>717837204692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.askly</string>
	<key>PROJECT_ID</key>
	<string>askly-de21f</string>
	<key>STORAGE_BUCKET</key>
	<string>askly-de21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717837204692:ios:69557df3c72da0c0e8cf41</string>
	<key>DATABASE_URL</key>
	<string>https://askly-de21f.firebaseio.com</string>
</dict>
</plist>